@use './colors.scss' as *;
@use './variables.scss' as *;

:root {
  hoverHighlightColor: transparent;
  hoverHighlightBorderColor: transparent;
  hoverHighlightFontColor: transparent;
}

$available-colors: orange, blue, green, red, purple, yellow, #ffc0cb, gray;
$vis-item-types: 'vis-background', 'vis-box', 'vis-point', 'vis-range', 'vis-line', 'vis-dot';
// STOP - did you remember to change the matching variables in colors.ts?

.vis-timeline {
  border: 1px solid transparent;
}

.vis-item-content,
.vis-item-overflow {
  .timeline-card {
    display: none;
    width: 300px;
    height: max-content;
    position: fixed !important;
  }
}

div.vis-item-content > a,
div.vis-item-overflow > div > a {
  text-decoration: none !important;
  color: inherit;
  padding: 6px;
}

.vis-item:hover div.vis-item-content > a,
.vis-item:hover div.vis-item-overflow > div > a,
.vis-item.vis-selected div.vis-item-content > a,
.vis-item.vis-selected div.vis-item-overflow > div > a {
  font-weight: bold;
}

.vis-item {
  cursor: pointer;
  box-sizing: border-box !important;
}

.vis-panel {
  &.vis-center,
  &.vis-left,
  &.vis-right {
    border-color: var(--background-secondary);
  }
}

.vis-grid {
  &.vis-minor {
    display: $minorGridDisplay;
  }

  &.vis-major {
    display: $majorGridDisplay;
  }
}

// this is for enabling custom per-event font colors for items on the timeline
.custom-font-style > div.vis-item-content > a,
.custom-font-style > div.vis-item-overflow > div.vis-item-content > a {
  text-decoration: none !important;
  color: unset;
}

// this is for making sure all items associated with an event are highlighted the same (lines, points, etc)
.runtime-hover {
  color: color-mix(in oklab, var(--hoverHighlightFontColor), white 5%) !important;
  background-color: color-mix(in oklab, var(--hoverHighlightColor), white 10%);
  border-color: color-mix(in oklab, var(--hoverHighlightBorderColor), white 5%) !important;
  transform: scale(1.01);
  filter: none;
}

/* Vis Timeline Navigation */
.vis-navigation-input {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 65% !important;
  background-color: var(--background-secondary-alt);
  border: none;
  border-radius: 7px;
  height: auto;
  width: max-content;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  overflow-wrap: break-word;
  color: var(--text-normal);
  appearance: textfield;
  cursor: text;
  font-family: "Comic Sans MS" !important;
  font-size: 15px !important;
}
