@use './colors.scss' as *;

:root {
  hoverHighlightColor: transparent;
}

$available-colors: orange, blue, green, red, purple, yellow, pink, gray;
$vis-item-types: 'vis-background', 'vis-box', 'vis-point', 'vis-range', 'vis-line', 'vis-dot';
// STOP - did you remember to change the matching variables in colors.ts?

.vis-timeline {
  border: 1px solid transparent;
}

.runtime-hover {
  background: color-mix(in oklab, var(--hoverHighlightColor), transparent 40%);
  border-color: color-mix(in oklab, var(--hoverHighlightColor), white 30%) !important;
  filter: none;
}

.vis-item-content,
.vis-item-overflow {
  .timeline-card {
    display: none;
    width: 300px;
    height: max-content;
    position: fixed !important;
  }
}

div.vis-item-content > a,
div.vis-item-overflow > div > a {
  text-decoration: none !important;
  color: inherit;
  padding: 6px;
}

.vis-item:hover div.vis-item-content > a,
.vis-item:hover div.vis-item-overflow > div > a,
.vis-item.vis-selected div.vis-item-content > a,
.vis-item.vis-selected div.vis-item-overflow > div > a {
  font-weight: bold;
}

.vis-item {
  cursor: pointer;
  box-sizing: border-box !important;

  @each $color in $available-colors {
    @each $type in $vis-item-types {
      @include add-color($color, &);
      @include add-color($color, '&.#{$type}');
      @include add-color($color, '&.#{$type}.vis-selected', $alpha: .45);
      @include add-color($color, &, $addon: ':hover', $alpha: .45);
    }
  }
}
// STOP - did you remember to change the matching rules in colors.ts?

.vis-panel {
  &.vis-center,
  &.vis-left,
  &.vis-right {
    border-color: var(--background-secondary);
  }
}

.vis-grid {
  &.vis-minor {
    display: none;
  }

  &.vis-major {
    display: none;
  }
}

/* Vis Timeline Navigation */
.vis-navigation-input {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 65% !important;
  background-color: var(--background-secondary-alt);
  border: none;
  border-radius: 7px;
  height: auto;
  width: max-content;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  overflow-wrap: break-word;
  color: var(--text-normal);
  appearance: textfield;
  cursor: text;
  font-family: "Comic Sans MS" !important;
  font-size: 15px !important;
}
