@use 'sass:math';

$note-segment-width: 10px;
$timeline-line-width: 10px;
$timeline-indent-gap: 30px;
$timeline-arrow-width: 10px;
$timeline-arrow-margin: 30px;
$timeline-note-padding: 40px;
$timeline-widget-inset: 25px;
$point-event-widget-width: 25px;
$range-event-widget-width: 33px;
$event-widget-border-width: 4px;

// do I need this?
// .react-timeline-event-list {
//   display: block;
// }

.react-timeline-head-dot {
  position: absolute;
  width: $range-event-widget-width;
  min-height: $range-event-widget-width;
  background-color: var(--background-secondary);
  filter: hue-rotate(180deg);
  border: 4px solid var(--text-accent);
  border-radius: $range-event-widget-width;
  z-index: 1;
}

.react-timeline-head-dot-collapsed {
  position: absolute;
  width: $range-event-widget-width;
  height: $range-event-widget-width !important;
  background-color: var(--background-secondary);
  filter: hue-rotate(90deg);
  border: 4px solid var(--text-accent);
  border-radius: $range-event-widget-width;
  z-index: 1;
}

.react-timeline-tail-line-left,
.react-timeline-tail-line-right {
  position: absolute;
  width: 10px;
  background-color: var(--background-secondary);
  z-index: 0;
  border-radius: 10px;
}

.react-timeline-tail-line-left-flat,
.react-timeline-tail-line-right-flat {
  background-color: var(--background-secondary);

  &::before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    z-index: 2;
    border: medium solid var(--background-secondary);
  }
}

// arrow on the tail for left side range events
.react-timeline-tail-line-left-flat::before {
  right: -5px;
  border-width: $timeline-arrow-width 0 $timeline-arrow-width $timeline-arrow-width;
  border-color: transparent transparent transparent var(--background-secondary);
}

// arrow on the tail for right side range events
.react-timeline-tail-line-right-flat::before {
  left: -10px;
  border-width: $timeline-arrow-width $timeline-arrow-width $timeline-arrow-width 0;
  border-color: transparent var(--background-secondary) transparent transparent;
}

/* Container around content */
.react-timeline-container {
  padding: 10px $timeline-note-padding;
  position: relative;
  background-color: inherit;
  width: calc(50% - (var(--react-timeline-indent) * $timeline-indent-gap));

  /* Arrow pointing from note to widget */
  .react-timeline-card {
    &::before {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: $timeline-widget-inset - $timeline-arrow-width * 0.5;
      z-index: 2;
      border: medium solid var(--background-secondary);
    }
  }

  /* Arrow pointing from note to widget for events on the left */
  &.react-timeline-left .react-timeline-card::before {
    right: -10px;
    border-width: $timeline-arrow-width 0 $timeline-arrow-width $timeline-arrow-width;
    border-color: transparent transparent transparent var(--background-secondary);
  }

  /* Arrow pointing from note to widget for events on the right */
  &.react-timeline-right .react-timeline-card::before {
    left: -10px;
    border-width: $timeline-arrow-width $timeline-arrow-width $timeline-arrow-width 0;
    border-color: transparent var(--background-secondary) transparent transparent;
  }

  /* The normal circle widget for events on the timeline */
  &:not(.react-timeline-head):not(.react-timeline-tail) {
    &::after {
      content: '';
      position: absolute;
      width: $point-event-widget-width;
      height: $point-event-widget-width;
      background-color: var(--background-secondary);
      border: $event-widget-border-width solid var(--text-accent);
      // need to use the range event width here as it's slightly larger than point events
      top: $range-event-widget-width - ($point-event-widget-width * 0.5);
      border-radius: $point-event-widget-width;
      z-index: 1;
    }

    &.react-timeline-left::after {
      right: - $point-event-widget-width * 0.5 - $event-widget-border-width;
    }

    &.react-timeline-right::after {
      left: - $point-event-widget-width * 0.5 - $event-widget-border-width;
    }
  }

  /* The line segment joining dates for time spanning events */
  &.react-timeline-tail {
    $border-width: 5px;
    $gap: 20px;

    & > h2 {
      padding-top: $gap;
      margin-top: unset;
    }
  }
}

/* Place the container to the left */
.react-timeline-left {
  left: calc($timeline-indent-gap * var(--react-timeline-indent));
}

/* Place the container to the right */
.react-timeline-right {
  left: 50%;
}
