@use 'sass:math';

$note-segment-width: 10px;
$timeline-line-width: 10px;
$timeline-indent-gap: 30px;
$timeline-arrow-width: 10px;
$timeline-arrow-margin: 30px;
$timeline-note-padding: 40px;
$timeline-widget-inset: 25px;
$point-event-widget-width: 25px;
$range-event-widget-width: 33px;
$event-widget-border-width: 4px;

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  &::after {
    content: '';
    position: absolute;
    width: $timeline-line-width;
    background-color: var(--background-secondary);
    top: 0;
    bottom: 0;
    left: calc(50% - $timeline-line-width / 2);
  }
}

.timeline-tail-line-left,
.timeline-tail-line-right {
  position: absolute;
  width: 10px;
  background-color: var(--background-secondary);
  z-index: 0;
  border-radius: 10px;

  // both of these need to be dynamically set
  // depending on side and indentation level
  // left: ?px;
  // height: ?px;
}

.timeline-tail-line-left-flat,
.timeline-tail-line-right-flat {
  background-color: var(--background-secondary);

  &::before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    z-index: 2;
    border: medium solid var(--background-secondary);
  }
}

// arrow on the tail for left side range events
.timeline-tail-line-left-flat::before {
  right: -5px;
  border-width: $timeline-arrow-width 0 $timeline-arrow-width $timeline-arrow-width;
  border-color: transparent transparent transparent var(--background-secondary);

  // for testing
  // border-color: transparent transparent transparent aliceblue;
}

// arrow on the tail for right side range events
.timeline-tail-line-right-flat::before {
  left: -10px;
  border-width: $timeline-arrow-width $timeline-arrow-width $timeline-arrow-width 0;
  border-color: transparent var(--background-secondary) transparent transparent;

  // for testing
  // border-color: transparent pink transparent transparent;
}

/* Container around content */
.timeline-container {
  padding: 10px $timeline-note-padding;
  position: relative;
  background-color: inherit;
  width: calc(50% - (var(--timeline-indent) * $timeline-indent-gap));

  /* Arrow pointing from note to widget */
  .timeline-card {
    &::before {
      content: " ";
      width: 0;
      height: 0;
      position: absolute;
      top: $timeline-widget-inset - $timeline-arrow-width * 0.5;
      z-index: 2;
      border: medium solid var(--background-secondary);
    }
  }

  /* Arrow pointing from note to widget for events on the left */
  &.timeline-left .timeline-card::before {
    right: -10px;
    border-width: $timeline-arrow-width 0 $timeline-arrow-width $timeline-arrow-width;
    border-color: transparent transparent transparent var(--background-secondary);
  }

  /* Arrow pointing from note to widget for events on the right */
  &.timeline-right .timeline-card::before {
    left: -10px;
    border-width: $timeline-arrow-width $timeline-arrow-width $timeline-arrow-width 0;
    border-color: transparent var(--background-secondary) transparent transparent;
  }

  /* The normal circle widget for events on the timeline */
  &:not(.timeline-head):not(.timeline-tail) {
    &::after {
      content: '';
      position: absolute;
      width: $point-event-widget-width;
      height: $point-event-widget-width;
      background-color: var(--background-secondary);
      border: $event-widget-border-width solid var(--text-accent); // old color: #FF9F55 (orange)
      top: $timeline-widget-inset - $point-event-widget-width * 0.5;
      border-radius: $point-event-widget-width;
      z-index: 1;
    }

    &.timeline-left::after {
      right: - $point-event-widget-width * 0.5 - $event-widget-border-width;
    }

    &.timeline-right::after {
      left: - $point-event-widget-width * 0.5 - $event-widget-border-width;
    }
  }

  /* The elongated circle widget for time spanning events on the timeline */
  // &.timeline-head {
  //   &::after {
  //     content: '';
  //     position: absolute;
  //     width:            $range-event-widget-width;
  //     min-height:       $range-event-widget-width;
  //     height:           calc(var(--timeline-span-length) + $range-event-widget-width);
  //     background-color: var(--background-secondary);
  //     filter: hue-rotate(180deg);
  //     border: $event-widget-border-width solid var(--text-accent); // old color: #00DB00 (green)
  //     top: $timeline-widget-inset - $range-event-widget-width * 0.5;
  //     border-radius: $range-event-widget-width;
  //     z-index: 1;
  //   }

  //   &.timeline-left::after {
  //     right: - $range-event-widget-width * 0.5 - $event-widget-border-width;
  //   }

  //   &.timeline-right::after {
  //     left: - $range-event-widget-width * 0.5 - $event-widget-border-width;
  //   }
  // }

  /* The line segment joining dates for time spanning events */
  &.timeline-tail {
    $border-width: 5px;
    $gap: 20px;

    & > h2 {
      padding-top: $gap;
      margin-top: unset;
    }
  }
}

/* Place the container to the left */
.timeline-left {
  left: calc($timeline-indent-gap * var(--timeline-indent));
}

/* Place the container to the right */
.timeline-right {
  left: 50%;
}

/* The actual content */
.timeline-content {
  padding: 10px 15px;
  background-color: var(--background-accent);
  position: relative;
  border-radius: 6px;
}

.timeline-rendered {
  color: var(--text-faint);
  font-size: smaller;

  &::before {
    content: "Updated: ";
  }
}
